.container{
    width: 95%;
    margin: 0 auto;
}
.header_area{
    text-align: center;
}
.content_area{

}
.content_area .dashboard{
    border: 1px solid #ddd;
    overflow: hidden;
}
.content_area .dashboard .content_top{
    width: 100%;
    border-bottom: 1px solid #dddddd;
    overflow: hidden;
}
.content_area .dashboard .content_top .content_top_left{
    float: left;
    width: 84%;
    text-align: center;
    border-right: 1px solid #dddddd;
}
.content_area .dashboard .content_top .content_top_right{
    float: right;
    width: 15%;
    padding: 3px;
}
.content_area .dashboard .content_top .content_top_right ul, .list ul{
    margin: 0 auto;
    padding: 0px;
    list-style-type: none;
    text-align: center;
}
.content_area .dashboard .content_top .content_top_right ul li, .list ul li {
    display: inline-block;
    margin-right: 3px;
    width: 100%;
    border-bottom: 1px solid #ddd;
}
.content_area .dashboard .content_top .content_top_right ul li a, .list ul li a{
    text-decoration: none;
    display: block;
    color: #000;
    padding: 2px 3px;
    background-color: rgba(203,172,255,0.71);

}
.content_area .dashboard .content_top .content_top_right ul li a:hover, .list ul li a:hover{
    background-color: rgba(135,117,177,0.71);
}
.content_area .dashboard .content_main{
    width: 100%;
}
.content_area .dashboard .content_main .sidebar{
    float: left;
    width: 20%;
}
.content_area .dashboard .content_main .sidebar ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.content_area .dashboard .content_main .sidebar ul li {
    display: block;
    border: 1px solid #ddd;
}
.content_area .dashboard .content_main .sidebar ul li a{
    display: block;
    text-decoration: none;
    background-color: #cbacff;
    color: #000;
    padding: 5px 10px;
}

.content_area .dashboard .content_main .sidebar ul li a:hover{
    background-color: rgba(135, 118, 176, 0.71);
}
.active a{
    background-color: rgba(135, 118, 176, 0.71) !important;
    font-weight: 700;
}
.content_area .dashboard .content_main .content{
    float: left;
    width: 78%;
    padding: 10px 0px;
}
.content_area .dashboard .content_main .content table{
    margin: 0 auto;
    border: 1px solid #dddddd;
    border-collapse: collapse;
    text-align: center;
}
.content_area .dashboard .content_main .content table tr{}
.content_area .dashboard .content_main .content table tr th, .content_area .dashboard .content_main .content table td {
    border: 1px solid #dddddd;
    padding: 10px 10px;

}
.form{
    width: 500px;
    margin: 0 auto;
}
.footer_area{
    text-align: center;
}
/*
    User style
*/
.center{
    text-align: center;
}
.notice{
    text-align: justify;
}
